.avatarAndChakra {
  display: flex;
  flex-direction: column;
  max-width: 4em;
  margin: 5px;
}

.avatar {
  max-width: 4em;
  max-height: 4em;
}

.chakras {
  display: grid;
  grid-template-columns: 50% 50%;
  color: white;
  font-family: monospace;
  font-style: italic;
  margin-top: 1.5em;
}

.chakraGroup {
  display: flex;
  margin: 2px;
  align-items: center;
}

.taijutsu,
.bloodline,
.ninjutsu,
.genjutsu,
.random {
  min-width: 0.7em;
  min-height: 0.7em;
  border: 1px solid black;
  margin: 0.1em;
}

.taijutsu {
  background-color: rgb(12, 221, 44);
}

.bloodline {
  background-color: rgb(240, 0, 10);
}

.ninjutsu {
  background-color: rgb(0, 169, 213);
}

.genjutsu {
  background-color: rgb(255, 255, 255);
}

.random {
  background-color: rgb(0, 0, 0);
}

@media all and (max-width: 700px) {
  .avatar {
    width: 6vh;
    height: 6vh;
  }
  .chakras {
    grid-template-columns: 100%;
  }
}
