@import 'buttons.css';
@import 'avAndChakraDiv.css';
@import 'skillDescDiv.css';
@import 'damageCalc.css';
@import 'scrollbar.css';

#root {
  background-color: rgb(131, 148, 245);
  position: fixed;
  height: calc(100vh - 15px);
  width: 1000px;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.chars {
  overflow: auto;
  height: inherit;
}

.facepic {
  width: 3.5em;
  cursor: pointer;
}

.searchBar {
  align-self: flex-end;
  margin-right: 50px;
  height: 25px;
}

.searchBar input {
  font-weight: 550;
  font-size: 7.5;
  color: rgb(154, 1, 1);
}

.bottomThings {
  display: flex;
}

.charInfo {
  width: 90%;
  height: 175px;
  background-color: rgb(51, 51, 51);
  overflow: auto;
}

.charDiv {
  display: grid;
  padding: 10px;
  grid-template-columns: 15% 25% 15% 45%;
}

.skills {
  margin-left: 1em;
  display: flex;
  max-width: 12em;
  flex-wrap: wrap;
}

.skillpic {
  margin-right: 1em;
  max-width: 4em;
  max-height: 4em;
}

.additionalButtons {
  max-width: 4em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer {
  text-align: right;
  color: beige;
  font-size: small;
  margin-right: 15px;
}

@media all and (max-width: 1000px) {
  #root {
    width: calc(100vw - 15px);
    margin: 0;
  }

  .facepic {
    width: 13vw;
    max-width: 50px;
  }

  .charInfo {
    height: 175px;
  }

  .charDiv {
    grid-template-columns: 15% 20% 65%;
  }

  .bottomThings {
    max-height: 50vh;
  }

  .skills {
    margin-left: 10px;
    margin-top: 5px;
  }

  .skillpic {
    width: 10vw;
    height: 10vw;
  }

  .additionalButtons {
    grid-row: 2;
    grid-column: 2;
    justify-self: baseline;
  }
}
