#root {
    background-color:rgb(131, 148, 245);
    position: fixed;
    margin: 15px;
    min-height: 90%;
    width: 1000px;
    /* min-width: 60em; */
}

a {
    text-decoration: none;
}

.chars {
    height: 22.5em;
    overflow: auto;
}

.facepic {
    width: 3.5em;
    cursor: pointer;
}

.buttons {
    position: absolute;
    bottom: 1em;
    left: 1em;
    min-height: 30%;
    max-height: 30%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 20%;
}

.charInfo {
    position: absolute;
    bottom: 1em;
    left: 5em;
    right: 1em;
    min-height: 30%;
    max-height: 32%;
    background-color: rgb(51,51,51);
    overflow: auto;
}

.filterr {
    width: 5em;
    margin: 0.2em 0.5em;
    padding: 0.5em;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
    display: inline-block;
    cursor: pointer;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.filterButtons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 0.5em;
}

.inactiveButton {
    background-color: whitesmoke;
    border: 1px solid #bbb;
}

.activeButton {
    background-color: yellowgreen;
    border: 1px solid rgb(250, 255, 173);
}

.activeRedButton {
    background-color: tomato;
    border: 1px solid rgb(255, 187, 187);
}

.charDiv {
    display: grid;
    padding: 10px;
    grid-template-columns: 15% 25% 15% 45%;
}

.avatarAndChakra {
    display: flex;
    flex-direction: column;
    max-width: 4em;
    margin: 5px;
}

.avatar {
    max-width: 4em;
    max-height: 4em;
}

.chakras {
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-family: monospace;
    font-style: italic;
    margin-top: 1.5em;
}

.chakraGroup {
    display: flex;
    margin: 2px;
    align-items: center;
}

.taijutsu, .bloodline, .ninjutsu, .genjutsu, .random {
    width: 0.7em;
    height: 0.7em;
    border: 1px solid black;
    margin: 0.1em;
}

.taijutsu {
    background-color: rgb(12,221,44);
}

.bloodline {
    background-color: rgb(240,0,10);
}

.ninjutsu {
    background-color: rgb(0,169,213);
}

.genjutsu {
    background-color: rgb(255,255,255);
}

.random {
    background-color: rgb(0,0,0);
}

.skills {
    margin-left: 1em;
    display: flex;
    max-width: 12em;
    flex-wrap: wrap;
}

.skillpic {
    margin-right: 1em;
    max-width: 4em;
    max-height: 4em;
}

.additionalButtons {
    max-width: 4em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.skillDescription {
    position: relative;
    background-color: honeydew;
    border: 2px solid black;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    white-space: pre-wrap;
}

.skilOrCharName {
    color: rgb(154,1,1);
    text-align: center;
    margin: 0.5em 0;
    font-weight: bold;
}

.skillOrCharDesc {
    margin: 0 0.5em;
    text-align: justify;
    font-size: small;
}

.skillCooldown {
    position: absolute;
    bottom: 2em;
    font-size: x-small;
    right: 0.5em;
    text-align: right;
}

.skillCost {
    position: absolute;
    bottom: 0.5em;
    display: flex;
    font-size: x-small;
    align-items: center;
    right: 0.5em;
    text-align: right;
}

.skillClasses {
    position: absolute;
    bottom: 1em;
    font-size: x-small;
    color: gray;
    margin: 0 0.5em;
}

#footer {
    color: #F8F8FF99;
    text-align: center;
    bottom: 2px;
    background-color: rgba(4, 12, 6, 0.6);
}

.button::-moz-focus-inner{
    border: 0;
    padding: 0;
  }
  
  .button{
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding: 0.5em 1em;
    margin: 0;
    width: 4em;
    cursor: pointer;
    border: 1px solid #bbb;
    overflow: visible;
    font: bold 0.6em 'Franklin Gothic Medium';
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    /* white-space: nowrap; */
    color: #555;
    
    background-color: #ddd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(255,255,255,0)));
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
    background-image: -moz-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
    background-image: -o-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
    background-image: linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
    
    -webkit-transition: background-color .2s ease-out;
    -moz-transition: background-color .2s ease-out;
    -ms-transition: background-color .2s ease-out;
    -o-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    background-clip: padding-box; /* Fix bleeding */
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
    text-shadow: 0 1px 0 rgba(255,255,255, .9);
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .button:hover{
    background-color: #eee;
    color: #555;
  }
  
  .button:active{
    background: #e9e9e9;
    position: relative;
    top: 1px;
    text-shadow: none;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
  }
  
  .button[disabled], .button[disabled]:hover, .button[disabled]:active{
    border-color: #eaeaea;
    background: #fafafa;
    cursor: default;
    position: static;
    color: #999;
    /* Usually, !important should be avoided but here it's really needed :) */
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  @media all and (max-width: 500px) {
    #root {
        width: 100%;
        margin: 0;
    }
  }